<div class="container bootdey">
    <img src="../../assets/logos/logo_transparent.png" class="img-backgd logo-img" alt="slider-image" />
    <h2>Featured <b>Products</b></h2>
    <div class="col-md-3">
        <section class="panel">
            <div class="product-type">
                <img src="../../assets/images/knobs/knobs-img10.jpg" alt="image" />
                <p class="intro-paragraph ">Knobs</p>
            </div>
        </section>
        <section class="panel">
            <div class="product-type">
                <img src="../../assets/images/handles/handles-img13.jpg" alt="image" />
                <p class="intro-paragraph ">Handles</p>
            </div>
        </section>
    </div>
    <div class="col-md-9">

        <div class="row product-list">
            <div class="main-container-cat ">
                <div class="container-xl">
                    <div class="row carousel-main-con">
                        <div class="col-md-12 carousel-sec-con">
                            <div id="myCarousel" class="carousel slide carousel-data-con" data-ride="carousel"
                                data-interval="0">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                                </ol>
                                <!-- Wrapper for carousel items -->
                                <div class="carousel-inner">
                                    <div class="item carousel-item active">
                                        <div class="row carousel-item-data">
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/knobs/knob-img1.jpg"
                                                            class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/knobs/knobs-img14.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/knobs/knobs-img12.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item carousel-item">
                                        <div class="row carousel-item-data">
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/knobs/knob-img1.jpg"
                                                            class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/knobs/knobs-img14.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/knobs/knobs-img12.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel controls -->
                                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">

        <div class="row product-list">
            <div class="main-container-cat ">
                <div class="container-xl">
                    <div class="row carousel-main-con">
                        <div class="col-md-12 carousel-sec-con">
                            <div id="myCarouselhandles" class="carousel slide carousel-data-con" data-ride="carousel"
                                data-interval="0">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarouselhandles" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarouselhandles" data-slide-to="1"></li>
                                    <!-- <li data-target="#myCarouselhandles" data-slide-to="2"></li> -->
                                </ol>
                                <!-- Wrapper for carousel items -->
                                <div class="carousel-inner">
                                    <div class="item carousel-item active">
                                        <div class="row carousel-item-data">
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/handles/handles-img1.jpg"
                                                            class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/handles/handles-img2.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/handles/handles-img3.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item carousel-item">
                                        <div class="row carousel-item-data">
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/handles/handles-imgS4.jpg"
                                                            class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/handles/handles-img5.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                                    <div class="thumb-content">
                                                        <img src="../../assets/images/handles/handles-imgS6.jpg"
                                                        class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel controls -->
                                <a class="carousel-control-prev" href="#myCarouselhandles" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#myCarouselhandles" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>