<div class="row-category">
    <div class="lsc">
        first category
    </div>
    <div class="rsc">
        <carousel>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
    </carousel>
    </div>
</div>

<div class="row-category">
    <div class="lsc">
        second category

    </div>
    <div class="rsc">
        <carousel>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
            <li class="carousel-cell">
                <div class="div-abc">
    
                </div>
            </li>
    </carousel>
    </div>
</div>

