<div class="container bootdey">
    <img src="../../assets/logos/logo_transparent.png" class="img-backgd logo-img" alt="slider-image" />
    <h2>Featured <b>Products</b></h2>
    <div class="col-md-3">
        <section class="panel">
            <div class="product-type">
                <img src="../../assets/images/knobs/knobs-img10.jpg" alt="image" />
                <p class="intro-paragraph ">Knobs</p>
            </div>
        </section>
        <section class="panel ">
            <div class="product-type">
                <img src="../../assets/images/handles/handles-img13.jpg" alt="image" />
                <p class="intro-paragraph ">Handles</p>
            </div>
        </section>
        <section class="d none">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
              </mat-accordion>
        </section>
     
    </div>
    <div class="col-md-9">

        <div class="row product-list">
            <div class="main-container-cat ">
                <div class="container-xl">
                    <div class="row carousel-main-con">
                        <div class="col-md-12 carousel-sec-con">
                            <div id="myCarousel" class="carousel slide carousel-data-con" data-ride="carousel"
                                data-interval="0">
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner"  >
                                    <div class="item carousel-item" [ngClass]="{'active': i==0}" *ngFor="let catKnobs of catKnobsArray; let i= index">
                                        <div class="row carousel-item-data">
                                            <div class="card-product" (click)="openCategoriespanel()" *ngFor="let Knobs of catKnobs">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="thumb-content">
                                                        <img src="{{Knobs}}"
                                                            class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">

        <div class="row product-list">
            <div class="main-container-cat ">
                <div class="container-xl">
                    <div class="row carousel-main-con">
                        <div class="col-md-12 carousel-sec-con">
                            <div id="myCarouselhandles" class="carousel slide carousel-data-con" data-ride="carousel"
                                data-interval="0">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarouselhandles" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarouselhandles" data-slide-to="1"></li>
                                    <!-- <li data-target="#myCarouselhandles" data-slide-to="2"></li> -->
                                </ol>
                                <!-- Wrapper for carousel items -->
                                <div class="carousel-inner"  >
                                    <div class="item carousel-item" [ngClass]="{'active': i==0}" *ngFor="let cathandles of catHandlesArray; let i= index">
                                        <div class="row carousel-item-data">
                                            <div class="card-product" (click)="openCategoriespanel()" *ngFor="let handles of cathandles">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="thumb-content">
                                                        <img src="{{handles}}"
                                                            class="" alt="slider-image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel controls -->
                                <a class="carousel-control-prev" href="#myCarouselhandles" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#myCarouselhandles" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>