<section class="home-slider owl-carousel js-fullheight d-none">
    <div class="slider-item js-fullheight" >
      <div class="overlay"></div>
      <div class="container">
        <div class=" slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
  
          <div class="col-md-12 col-sm-12 text-center ftco-animate text-shop">
            <span class="subheading">Welcome to Knobs shop</span>
          </div>
          <i class="bi bi-person-circle profile-icon"></i>
          <i class="bi bi-info-circle info-icon"></i>
          <div class="knobs image-gif" (click)="openCategories()">
            <span class="text-knobs">Knobs/Handles</span>
          </div>
          <div class="handles image-gif" (click)="openCategories()">
            <span class="text-knobs">Knobs/Handles</span>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class=" d-none">
  <div class="custom-shape-divider-bottom-1673413253">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>
</section>
<div>

</div>
<div class="home-main d-none">
  <div class="home-hero section-container">
    <div class="home-max-width max-width-container">
      <div class="home-hero1">
        <div class="home-container03">
          <div class="home-info">
            <!-- <img alt="Rectangle43271305"
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMicgaGVpZ2h0PSc1Micgdmlld0JveD0nMCAwIDIgNTInIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CjxyZWN0IHdpZHRoPScyJyBoZWlnaHQ9JzUyJyBmaWxsPSdibGFjaycgZmlsbC1vcGFjaXR5PScwLjUnLz4KPC9zdmc+Cg=="
              class="home-image4" /> -->
            <span class="home-text12">
              <span>Welcome To Knobs Shop</span>
              <br />
              <span>trends - 2022</span>
            </span>
          </div>
          <h1 class="home-text16 Heading-1">Knobs and handles</h1>
          <!-- <div class="home-container04">
            <span class="home-text17">FROM</span>
            <span class="home-text18">$339</span>
          </div> -->
          <div class="home-btn-group">
            <button class="button">Explore the collection</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div>
  <img src="../../assets/logos/logo_transparent.png" class="img-backgd logo-img" alt="slider-image"/>
  <video autoplay muted loop class="myVideo">
      <source src="../../assets/img/videoplayback.webm"  type="video/mp4">
    </video>
    <div class="img-cont carousel-caption  wrapper">
      <div class="row">
          <div class="">
              <div class="intro-text">
                  <h1 class="intro-lead-in animated bounceInLeft tag-h2">one stop solution for all your dream assiana</h1>
                  <!-- <h2 class="intro-heading animated bounceInRight">Shop</h2> -->
                  <p class="intro-paragraph animated bounceInRight">We Provide Valuable Products and Reliable Services  </p>
              </div>
              <div class="cat-img">
                <div class="card-img" (click)="openCategories()">
                    <img src=
        "../../assets/img/brinks_ppr_animation_1260x840_crop_center.webp"
                        alt="image" />
                  <p class="intro-paragraph ">Knobs and Handles</p>
                  <a>Explore More</a>
                </div>
                <div class="card-img" (click)="openCategories()">
                    <img src=
        "../../assets/img/int4.gif"
                        alt="image" />
                  <p class="intro-paragraph ">Interior Designs</p>
                  <a>Explore More</a>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>